body {
    
    margin: 0; 
    height:auto;
}

.container 
{
   margin: auto;
   width:1170px;
}

.heading {width: 100%; height:400px; background-color: blueviolet;}

.heading .header 

{
    width:50%; 
    float: left;
    margin-top: 100px;
   border-right:1px solid #DDD;
}

.heading .header h2 

{
    width:47%;
    line-height: 1.6;
    color:#FFF; 
    font-size: 25px;
    margin-left: 40px;
}

.heading .header span:hover {color:#00BC8A; cursor: pointer;}


.heading .Lorem 

{
    width: 40%;
     margin-top: 100px;
    float: left;
    margin-left: 7%;
    line-height: 1.5;
}

.heading .Lorem p {width: 80%; font-weight: bold; color: #999;}

.heading .Lorem button {padding: 10px 20px ; background:  #00BC8A; border-radius: 20px; color: #FFF; font-size: 18px; cursor:pointer;} 


/* start Manag */
 
.magna {width:100%; height:350px; border-bottom: 2px solid #CCC; padding-top: 50px;  }

.magna .learn { float: left; width:50%;  border-right: 2px solid #DDD; }

.magna .learn h2 { color:#666}

.magna .learn p {line-height: 1.7; color:#555; font-size: 20px;}

.magna .learn button { border-radius: 20px; padding: 10px 20px ; cursor: pointer; background:#fff }

.amet   {float: left; margin-left: 5%; visibility: hidden;} 

.amet >  p {line-height: 2.5; color:#555 ; font-weight: bold;}

.amet i {padding-right: 8px; color:#00BC8A;}

.pharetra { width: 100%; height: 1400px; padding-top: 50px; padding-bottom: 50px; background: #FAFAFA; overflow: hidden;}

.pharetra .part {padding-bottom: 40px; height: 350px; background: #FFF; border-bottom: 2px solid #CCC;}

.pharetra .part img {float: left; width: 40%; margin-bottom: 60px}

.pharetra .he {float: left; width: 40%; padding-left: 70px; color:#555; line-height: 1.5; font-size: 16px; font-weight: bold;}

.pharetra .he button { border-radius: 20px; padding: 10px 40px ; cursor: pointer; background: #FFF; font-size: 20px; margin-top: 10px; margin-bottom: 10px}

.pharetra .he button:hover {background:#888; color: azure; }

.clear {clear: both;}

.form {width: 100%; height: auto; overflow:hidden; padding-top: 50px; border-bottom: 1px solid #CCC; padding-bottom: 50px;  }

.form .inputs { width: 50%;float: left; border-right: 1px solid #CCC; padding-left: 0;}

.form .inputs p {line-height: 1.7; font-size: 18px; font-weight: bold; color: #555;}

.form .inputs input {width :240px; height: 40px; padding-left: 20px; margin-right: 10px; margin-bottom: 35px; margin-top: 25px;}

.form .inputs textarea { width:90%;}

.form .inputs button 
{
    width: 30%; border-radius: 20px; padding: 10px 20px ; margin-top: 15px; cursor: pointer;
}

.form .link { float: left; padding-left: 50px; width: 40%; padding-bottom: 20px;}

.form .link i {padding-right: 10px; color:#00BC8A; line-height: 1.8;}

.footer {width: 100%; height: 80px; padding-top: 25px; text-align: center; color:#555;}